.navbar {
  background-color: #508b90;
}
.navbar .navbar-brand {
  color: #f1e7fb;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #f1e7fb;
}
.navbar .navbar-text {
  color: #f1e7fb;
}
.navbar .navbar-text a {
  color: #f1e7fb;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #f1e7fb;
}
.navbar .navbar-nav .nav-link {
  color: #f1e7fb;
  border-radius: 0.25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #f1e7fb;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #508b90;
  border-color: #709b9f;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #f1e7fb;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #f1e7fb;
  background-color: #709b9f;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #709b9f;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #f1e7fb;
  background-color: #709b9f;
}
.navbar .navbar-toggler {
  border-color: #709b9f;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: #709b9f;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: #f1e7fb;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #f1e7fb;
}
.navbar .navbar-link {
  color: #f1e7fb;
}
.navbar .navbar-link:hover {
  color: #f1e7fb;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f1e7fb;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f1e7fb;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f1e7fb;
    background-color: #709b9f;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f1e7fb;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f1e7fb;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f1e7fb;
    background-color: #709b9f;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f1e7fb;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f1e7fb;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f1e7fb;
    background-color: #709b9f;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f1e7fb;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f1e7fb;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f1e7fb;
    background-color: #709b9f;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #f1e7fb;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #f1e7fb;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #f1e7fb;
  background-color: #709b9f;
}
